@import "https://fonts.googleapis.com/css?family=Fredoka+One|Poppins:300,400,500,600&display=swap";
@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20HK');

span {
  font-size:28px;
  margin:0;
  color: #fff;
  text-align:center;
  text-transform:uppercase
}

label {
  font-size:15px;
  margin:0;
  text-align:center;
  text-transform:uppercase
}

.text {
  font-size:15px;
  margin:0;
  color: #fff;
  text-transform:uppercase
}

#bg-primary > p {
  font-size:15px;
  margin:0;
  text-align:left;
  text-transform:uppercase
}

body {

  }*{font-family:'Poppins',sans-serif};

  .orange {
    color:#ED9E00;
    background-color:#ED9E00;
  }

.left {
  text-align:left;

}
